@model Application.Entities.User

@{
    ViewData["Title"] = "EditUserView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit User</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(model => model.Role, ViewBag.EnumList as SelectList)
            </div>
            <div class="form-group">
                <input type="submit" value="Save" formaction=@Url.Action("EditUser", "Users", new { Id = Model.Id, Name = Model.Name, Surname = Model.Surname, Email = Model.Email, Password = Model.Password, Role = Model.Role }) formmethod="post" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AllUsers">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
