
@{
    ViewData["Title"] = "ShowEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div id="calender"></div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add flight</h4>
            </div>
            <div class="modal-body">

                <form id='formFlight' style='border:2px solid green; padding:7px;'>
                    <label>Departure:</label><br />
                    <label>Time:</label>
                    <div class="input-group date" id="dtflight1">
                        <input type="text" id="txtStart" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>
                    </div>
                    <br />
                    <label>Arrival:</label><br />
                    
                    <label>Time:</label>
                    <div class="input-group date" id="dtflight2">
                    <input type="text" id="txtEnd" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar">
                        </span>
                    </span>
            </div>
            <label>Price:</label>
            <input type="number" min="0.01" step="0.01" value="0" id="flightPrice" name="flightPrice" placeHolder="0"><br />
            <input type="button" class="btn btn-success" id="btnFlightSubmit" value="submit">
            </form>

        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            var events = [];
            var selectedEvent = null;
            FetchEventAndRenderCalendar();
            function FetchEventAndRenderCalendar() {
                events = [];
                $.ajax({
                    type: "GET",
                    url: "/events/GetEventsForShow",
                    dataType: "json",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            events.push({
                                eventId: v.eventId,
                                title: v.subject,
                                description: v.description,
                                start: moment(v.start),
                                end: v.end != null ? moment(v.end) : null,
                                color: v.themeColor,
                                allDay: v.isFullDay,
                                userId: v.userId
                            });
                        })

                        GenerateCalender(events);
                    },
                    error: function (error) {
                        alert('failed');
                    }
                })
            }
            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("YYYY-MM-DD hh:mm a")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("YYYY-MM-DD hh:mm a")));
                        }
                        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        $description.append($('<p/>').html('<b>Lektuvo bilietai:</b>' + ' yra' + ' <button type="button" id="btnFlightAdd" class="btn btn-defaulk"> Add flight tickets</button>'));
                        $description.append($('<p/>').html('<b>Nuomojama masina:</b>' + ' nera'));
                        $description.append($('<p/>').html('<b>Apgyvendinimas:</b>' + ' apartamentai'));

                        $('#myModal #pDetails').empty().html($description);
                        $('#myModal').modal();
                    }
                })
            }

            // TODO save flight info to DB :Trips/AddFlight

            function SaveFlight(data) {
                $.ajax({
                    type: "POST",
                    url: '/Trips/AddFlight',
                    data: data,
                    success: function (status) {
                        if (status) {
                            $('#myModal2').modal('hide');
                        }
                    },
                    error: function () {
                        alert('Failed');
                    }
                })
            }
            $('#myModal').on('click','#btnFlightAdd',function () {
                if (selectedEvent != null) {
                    $('#txtStart').val(selectedEvent.start.format('YYYY-MM-DD hh:mm a'));
                    $('#txtEnd').val(selectedEvent.end.format('YYYY-MM-DD hh:mm a'));
                }
                $('#myModal2').modal();
                return;
            })

                $('#dtflight1, #dtflight2').datetimepicker({
                    format: 'YYYY-MM-DD hh:mm a'
                });
            
            $('#myModal2').on('click', '#btnFlightSubmit', function () {
                var data = {
                    TripId: selectedEvent.eventId, // TODO: reikes pakeisti i trip ir tripId
                    Cost: $('#flightPrice').val(),
                    Start: $('#txtStart').val().trim(), // TODO: reikes pakeist i trip
                    End: $('#txtEnd').val().trim(),  // TODO: reikes pakeist i trip
                    FlightTicketStatus: 1 // TODO: add logic
                }
                SaveFlight(data);
            })
        })
    </script>
}