@model Application.Entities.ApartmentRoom

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>ApartmentRoom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RoomNumber" class="control-label"></label>
                <input asp-for="RoomNumber" class="form-control" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apartment.Title" class="control-label"></label>
                @Html.DropDownList("apartamentTitle", new SelectList(ViewBag.Apartaments))

            </div>
            <div class="form-group">
                <input type="submit" value="Save" formaction=@Url.Action("Edit", "ApartmentRoom", new { Id = Model.Id, Apartment = Model.Apartment, RoomNumber = Model.RoomNumber}) formmethod="post" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
